@font-face {
    font-family: "Oswald";
    src: url(fonts/Oswald/static/Oswald-Light.ttf);
}

@font-face {
    font-family: "OswaldBold";
    src: url(fonts/Oswald/static/Oswald-Regular.ttf);
}

::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #BA704F; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ad613e; 
}

.navbar .title p {
    font-family: OswaldBold;
    font-size: 30px;
    margin-left: 40px;
    color: #BA704F;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}


body {
    background-color: #EADBC8;
}


.navbar {
    background-color: #EADBC8;
    display: flex;
    margin-left: auto;
    padding: 20px 20px 20px 100px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5) */
}
.header-logo {
    display: flex;
    flex-direction: row;
}

.header-logo img{
    width: 100px;
    height: 100px;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px #BA704F
}

.links {
    display: flex;
    margin-left: auto;
    padding: 0px 300px 15px 0px;
}

.links a {
    text-shadow: 5px 5px 5px #BA704F;
    text-decoration: none;
    color: #BA704F;
    font-family: Oswald;
    font-size: 18px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Roboto', arial;
    font-weight: 300;

    &:hover {
        background-color: #BA704F;
        color: white;
        transition: 0.3s;
        border-radius: 5px;
        box-shadow: 0 8px 16px 0 rgb(218, 192, 163), 0 6px 20px 0 rgb(218, 192, 163);
        cursor: pointer;

    }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

@media (max-width: 767px) {
    .navbar {
        padding-left: 20px; /*smaller screens*/
    }
    .header-logo img {
        width: 80px; /*smaller screens*/
        height: 80px;
    }
    .links {
        padding: 0px 20px 15px 0px; /*smaller screens*/
    }
    .links a {
        font-size: 16px; /*smaller screens*/
    }
}

/* Medium Screens (Tablet Devices)*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding-left: 40px; /*medium-sized screens*/
    }
}

/*Large Screens (Desktop Devices)*/
@media (min-width: 992px) {
    /*No specific adjustments needed for large screens*/
}