.links .nav.active{
    background-color: #ad613e;
    border: 1px solid #ad613e;
    border-radius: 3px;
    color: white;
}

div .par img{
    box-shadow: 10px 8px 8px #BA704F;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div .programming {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

div .programming img {
    box-shadow: 10px 8px 8px #BA704F;
    margin-bottom: 20px;
    border-radius: 30px;
    background-size: cover;
    width: 90%;
    height: 60vh;
    margin-left: 20px;
}

div .programming .prog {
    /* height: 400px; */
}

div .programming .prog2 {
    /* height: 400px; */
}

div .programming .prog3 {
    /* height: 400px;
    width: 800px; */
}

div .par2 img{
    margin-top: 30px;
    margin-bottom: -50px;
    border-radius: 8px;
    max-width: 40%;
    max-height: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div .reading {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

div .reading img {
    margin-bottom: 20px;
    box-shadow: 10px 8px 8px #BA704F;
    border-radius: 30px;
    background-size: cover;
    width: 70%;
    height: 50vh;
    margin-left: 20px;
}

div .reading .read{
    /* height: 400px; */
}

div .reading .read2 {
    /* height: 400px; */
}
div .reading .read3 {
    /* height: 400px; */
}

div .reading .read4{
    /* height: 400px; */
}