.navbar .title p {
    font-family: Oswald;
    font-size: 30px;
    margin-left: 40px;
    color: #BA704F;
}

div .par img{
    box-shadow: 5px 10px 8px #BA704F;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div .programming {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

div .programming img {
    box-shadow: 10px 8px 8px #BA704F;
    /* border: 1px solid #BA704F;
    background-color: #BA704F; */
    border-radius: 30px;
    background-size: cover;
    width: 60%;
    height: 60%;
    margin-left: 10px;
}

div .programming .prog {
    height: 400px;
}

div .programming .prog2 {
    height: 400px;
}

div .programming .prog3 {
    height: 400px;
    width: 800px;
}

div .par2 img{
    margin-top: 30px;
    margin-bottom: -50px;
    border-radius: 8px;
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div .reading {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

div .reading img {
    box-shadow: 10px 8px 8px #BA704F;
    /* border: 1px solid #BA704F;
    background-color: #BA704F; */
    border-radius: 30px;
    background-size: cover;
    width: 60%;
    height: 60%;
    margin-left: 10px;
}

div .reading .read{
    height: 400px;
}

div .reading .read2 {
    height: 400px;
}
div .reading .read3 {
    height: 400px;
}

div .reading .read4{
    height: 400px;
}