.parent {
    display: flex;
}

.child {
    flex: 1;
}

.content .head p {
    font-family: Oswald;
    margin-top: 75px;
    margin-left: 80px;
    text-align: center;
    font-size: 40px;
    color: #BA704F;
    text-shadow: 5px 5px 5px #BA704F;
}

.content .small p {
    text-align: center;
    margin-top: -20px;
    margin-left: 80px;
    font-size: 17px;
    color: #BA704F;
    text-shadow: 5px 5px 5px #BA704F;
}

.navbar .title p {
    font-family: Oswald;
    font-size: 30px;
    margin-left: 40px;
    color: #BA704F;
}


.parent .child .content {
    overflow-x: hidden;
}

.parent .louie img {
    width: auto;
    height: 580px;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

video {
    margin-top: 50px;
    margin-left: 20px;
    width: 350px;
    height: 250px;
    box-shadow:  10px 8px 5px rgb(186, 112, 79)
   
}

.container .parent .child {
    flex: 1;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 20px;
    margin-top: -30px;
}   

.footer {
    font-family: Oswald;
    position: fixed;
    bottom: 0;
    height: 9%;
    width: 100%;
    background-color: #C08261;
    color: white;
    text-align: center;
}

