.parent {
    display: flex;
}

.child {
    flex: 1;
}

.links .nav.active{
    background-color: #ad613e;
    border: 1px solid #ad613e;
    border-radius: 3px;
    color: white;
}

.content .head p {
    font-family: Oswald;
    margin-top: 90px;
    margin-left: 80px;
    text-align: center;
    font-size: 50px;
    color: #BA704F;
    text-shadow: 5px 5px 5px #BA704F;
}

.content .small p {
    text-align: center;
    margin-top: -20px;
    margin-left: 80px;
    font-size: 17px;
    color: #BA704F;
    text-shadow: 5px 5px 5px #BA704F;
}

.parent .child .content {
    overflow-x: hidden;
}

.parent .louie img {
    width: auto;
    height: 100vh;
    display: block;
    margin-top: -90px;
    margin-left: 80px;
}

.container .parent .child {
    flex: 1;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 20px;
    margin-top: -30px;
}   

.footer {
    font-family: Oswald;
    position: fixed;
    bottom: 0;
    height: 9%;
    width: 100%;
    background-color: #C08261;
    color: white;
    text-align: center;
}

/* Media Query for Small Screens (Mobile Devices) */
@media (max-width: 767px) {
    .child {
        flex-basis: 100%; /* Full width for child elements on small screens */
    }
    .content .head p,
    .content .small p {
        margin-left: 0; /* Center-align text on small screens */
    }
    .parent .louie img {
        margin-left: 0; /* Center-align image on small screens */
    }
    .container .parent .child {
        margin-right: 0; /* Remove right margin on small screens */
        margin-top: 0; /* Remove top margin on small screens */
    }
}