.navbar .title p {
    font-family: Oswald;
    font-size: 30px;
    margin-left: 40px;
    color: #BA704F;
}

div .parent {
    display: flex;
}

div .child {
    flex: 1;
    overflow-x: auto;
}