.parent {
    display: flex;
}

.child {
    flex: 1;
}

.content .head p {
    font-family: Oswald;
    margin-top: 100px;
    text-align: center;
    font-size: 35px;
    color: #BA704F;
    text-shadow: 5px 5px 5px #BA704F;
}

.parent .child .content {
    overflow-x: hidden;
}

.parent .louie img {
    width: 95%;
    height: 535px;
    display: block;
    margin-top: -90px;
    margin-right: 20px;
    box-shadow:  0px 100    px 0px rgb(186, 112, 79)
}

video {
    margin-top: 50px;
    margin-left: 20px;
    width: 350px;
    height: 250px;
    box-shadow:  10px 8px 5px rgb(186, 112, 79)
   
}

.container .parent .child {
    flex: 1;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-right: 20px;
    margin-top: -30px;
}   

.footer {
    font-family: Oswald;
    position: fixed;
    bottom: 0;
    height: 9%;
    width: 100%;
    background-color: #C08261;
    color: white;
    text-align: center;
}

