.links .nav.active{
    background-color: #ad613e;
    border: 1px solid #ad613e;
    border-radius: 3px;
    color: white;
}

div .parent {
    display: flex;
    overflow-x: hidden;
}

div .child {
    flex: 1;
}

.parent .foods img{
    height: 80%;
    width: 50%;
    padding: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgb(186, 112, 79);
    margin-top: 70px;
    margin-left: 100px;
}

.parent .foods .curry {
    width: 800px;
    height: 600px;
}

.parent .foods .adobo {
    height: 600px;
    margin-top: -30px;
}

.parent .description p{
    font-size: 30px;
    font-family: Oswald;
    color: #BA704F;
    text-shadow: 5px 5px 5px #BA704F;
    margin-top: 260px;
}

.parent .description .adobodesc {
    margin-top: 530px;
}

.container .siya p {
    color: #BA704F;
    text-shadow: 5px 5px 5px #BA704F;
    text-align: center;
    font-family: Oswald;
    font-size: 50px;
}

.container .siyadesc{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    
}

.siyadesc img {
    max-width: 50%;
    height: auto;
    margin-bottom: 70px;
    box-shadow: 0px 0px 50px rgb(186, 112, 79);
}