.container .desc {
    font-family: Oswald;
    font-size: 40px;
    color: #BA704F;
    text-align: center;
    text-shadow: 5px 5px 5px #BA704F;
}

video {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 400px;
    height: 80%;
    box-shadow:  0px 0px 40px rgb(186, 112, 79)
   
}

.container .talent{
    display: flex;
    flex-grow: 1;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.container .draw p{
    margin-top: 70px;
}

.container .drawing img {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 15px;
    width: 400px;
    height: 80%;
    box-shadow:  0px 0px 40px rgb(186, 112, 79)
}

.container .drawing {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.container .drawing .second{
    margin-top: 150px;
}
